<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Key</key>
	<string>kpVAHJkHxmITIaf6ACwVJENeMQKgRNg1aHn8PHKn</string>
	<key>Secret</key>
	<string>w7X65wKPQru3z3v1EBzUAmAe4PfZ9yf3zWok8Rlo</string>
</dict>
</plist>
